.fade-in {
  animation: fadeIn 1.5s linear;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade-in {
  animation: fadeIn 1.5s linear;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/*Ajouter un effet d'animation continu sur les fleurs*/
.fleurs-animation ::after {
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#studio h2::before {
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#studio h2::after {
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.word,
.word2 {
  opacity: 0;
}

.word,
.word2 {
  display: inline-block;
  position: relative;
  opacity: 1;
}

.word {
  animation: KframeAnimateTitre1 1s ease-in-out;
}

.word2 {
  animation: KframeAnimateTitre2 1s ease-in-out;
}

@keyframes KframeAnimateTitre1 {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes KframeAnimateTitre2 {
  0% {
    transform: translateY(150%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/* section nomination */
.nomination_container {
  padding-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nomination_text {
  font-family: Quicksand;
  font-size: 34px;
  font-weight: 700;
  letter-spacing: -0.84px;
  line-height: 1;
  height: 280px;
  max-width: 723px;
  width: 100%;
  color: #FFF5E9;
  margin-left: 70px;
  padding-top: 20px;
  padding-right: 100px;
}

.nomination_text_container {
  background-image: url("../assets/images/background-oscar.png");
  background-repeat: no-repeat;
  margin-top: 6px;
  margin-left: 50px;
  background-size: 100%;
}

.nominationOscar {
  width: 25%;
  padding-bottom: 100px;
}

.banner img {
  margin-top: unset;
}

.banner {
  background-image: none;
}
.banner .backgroundBanner {
  position: absolute;
  width: 100% !important;
  z-index: -2;
  margin-top: 0px !important;
}
.banner .logoBanner {
  width: 75%;
  z-index: 1;
  position: relative;
  top: 120px;
  margin-left: 120px;
}
.banner .videoBanner {
  position: absolute;
  z-index: -1;
}

.banner img {
  width: 100%;
  margin-top: 0;
}

.banner .parralax {
  width: 50%;
  margin-top: -10%;
}

@media screen and (max-width: 700px) {
  .banner .parralax {
    width: 70%;
    margin-top: -50%;
  }
}
.slider-perso {
  padding-left: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto;
  width: 100%;
  max-width: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  margin-right: 40px;
  margin-left: 40px;
}

.swiper-slide img {
  display: block;
  max-width: 400px;
  width: 400px;
  height: 400px;
}

#characters {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.title-left {
  margin-right: 820px;
}/*# sourceMappingURL=style.css.map */